.movie-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
}

.switch {
  margin-bottom: 16px;
}

.ant-tabs {
  width: 100%;
}

.ant-tabs-nav-wrap {
  display: flex;
  justify-content: center;
}
